<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fisen_Unit_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fisen_Unit_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Fisen_Unit_Generator.My.MySettings.ConnectionString"
            connectionString="Dsn=FUGenerator" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Fisen_Unit_Generator.My.MySettings>
            <setting name="ResourceDir" serializeAs="String">
                <value>S:\FUG\Resources\</value>
            </setting>
            <setting name="LastKingdom" serializeAs="String">
                <value>RTU</value>
            </setting>
            <setting name="LastFamily" serializeAs="String">
                <value>Series40</value>
            </setting>
            <setting name="LastJobNumber" serializeAs="String">
                <value>3493F</value>
            </setting>
            <setting name="LastUnitNumber" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="LastProjDir" serializeAs="String">
                <value>J:\3450-3499\3493F - Central One Auburn\</value>
            </setting>
            <setting name="LastCabinet" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugLastModule" serializeAs="String">
                <value>LCVAV</value>
            </setting>
            <setting name="UOWordLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UOMoveCuts2SD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UOResearchMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UOSkipArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastHistoryPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="UOStealthMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UOLocalFolder" serializeAs="String">
                <value>C:\Users\jlevine\Desktop\AAA - Local Jobs\</value>
            </setting>
        </Fisen_Unit_Generator.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Fisen_Unit_Generator.My.MySettings>
            <setting name="DebugHard" serializeAs="String">
                <value>False</value>
            </setting>
        </Fisen_Unit_Generator.My.MySettings>
    </applicationSettings>
</configuration>